<div class="bg">
  <img src="assets/bg.jpg" />
  <div class="content">
    <form class="new-vehicle tile">
      <p class="form-title">Formularz nowej hulajnogi</p>
      <div class="input-group">
        <label for="modelId">MODEL:</label>
        <input type="text" id="modelId" name="modelId" />
      </div>
      <div class="input-group">
        <label for="batteryCode">BATERIA:</label>
        <input type="text" id="batteryCode" name="batteryCode" />
      </div>
      <div class="input-group">
        <label for="length">DŁUGOŚĆ:</label>
        <input type="text" id="length" name="length" />
      </div>
      <div class="input-group">
        <label for="width">SZEROKOŚĆ:</label>
        <input type="text" id="width" name="width" />
      </div>
      <div class="input-group">
        <label for="weight">WAGA:</label>
        <input type="text" id="weight" name="weight" />
      </div>
      <div class="input-group">
        <label for="costPerMinute">KOSZT:</label>
        <input type="text" id="costPerMinute" name="costPerMinute" />
      </div>
      <div class="input-group">
        <label for="amount">ILOŚĆ:</label>
        <input type="text" id="amount" name="amount" />
      </div>
      <input type="submit" class="submitButton" value="Utwórz" />
    </form>
    <div class="searchOptions">
      <div class="userReservations tile">
        <p class="form-title">Lista rezerwacji</p>

        <div class="searchOptions">
          <button class="searchOptionButton active" id="userSearchButton">
            Szukaj użytkownika
          </button>
          <button class="searchOptionButton" id="scooterSearchButton">
            Szukaj hulajnogi
          </button>
        </div>

        <form id="searchForm">
          <label for="searchId">ID:</label>
          <input type="text" id="searchId" name="searchId" required />
        </form>

        <div id="reservationsSection">
          <!-- wyniki wyszukiwania -->
        </div>
      </div>
    </div>
    <div class="changeVehicleData tile">
      <p class="form-title">Lista hulajnóg</p>
      <div id="reservationsSection"></div>
    </div>
  </div>
</div>
