.bg {
  width: 100vw;
  height: 100vh;
}

.bg img {
  width: 100%;
  height: 100%;
  display: block;
}

.content {
  height: 96vh;
  width: 90vw;
  position: fixed;
  left: 9vw;
  top: 2vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  row-gap: 30px;
  column-gap: 15px;
  grid-template-areas:
    'newvehicle userReservations userReservations changeVehicleData changeVehicleData'
    'newvehicle userReservations userReservations changeVehicleData changeVehicleData'
    'placeholder placeholder placeholder placeholder placeholder'
    'placeholder placeholder placeholder placeholder placeholder';
}

.tile {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgb(236, 129, 83);
  overflow: hidden;
}

.new-vehicle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: newvehicle;
}

.new-vehicle .input-group {
  width: 50%;
  margin-bottom: 10px;
}

.new-vehicle .input-group label {
  display: block;
}

.new-vehicle .input-group input,
.new-vehicle .input-group select {
  padding: 5px;
  width: 100%;
}

.form-title {
  background: #ffb76b;
  background: linear-gradient(
    to right,
    #e48724 0%,
    #895c24 30%,
    #974e09 60%,
    #f76409 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

input {
  background-color: rgba(250, 176, 96, 0.4);
}

button {
  padding: 10px 15px;
  background-color: #dc7028;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e66713;
}

.submitButton {
  padding: 10px 15px;
  background-color: #dc7028;
  color: white;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #e66713;
}

label {
  color: #643022;
  font-weight: bold;
}

.Reservations {
  grid-area: userReservations;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.Reservations .searchOptions {
  padding: 10px;
}

.changeVehicleData {
  grid-area: changeVehicleData;
}

.rentals {
  width: 90%;
  height: 10%;
  background-color: rgba(233, 134, 68, 0.5);
  border: 1px solid rgb(223, 92, 11);
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.rentals .price-box {
  color: rgb(255, 0, 0);
}

.rentals .duration-box {
  color: #fbdf93;
}

.rentals .date-box {
  color: #fceabb;
}

.rentals .scooterId-box {
  color: #b7602a;
}

.reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: userReservations;
}

.searchOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.searchOptions .buttons {
  display: flex;
  flex-direction: row;
}

.rentals-box {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.changeVehicleData {
  display: flex;
  flex-direction: column;
  align-items: center;
}
