<div class="bg">
  <img src="assets/bg.jpg" />
  <div class="content">
    <form class="new-vehicle tile">
      <p class="form-title">Formularz nowej hulajnogi</p>
      <div class="input-group">
        <label for="modelId">MODEL:</label>
        <input type="text" id="modelId" name="modelId" />
      </div>
      <div class="input-group">
        <label for="batteryCode">BATERIA:</label>
        <input type="text" id="batteryCode" name="batteryCode" />
      </div>
      <div class="input-group">
        <label for="length">DŁUGOŚĆ:</label>
        <input type="text" id="length" name="length" />
      </div>
      <div class="input-group">
        <label for="width">SZEROKOŚĆ:</label>
        <input type="text" id="width" name="width" />
      </div>
      <div class="input-group">
        <label for="weight">WAGA:</label>
        <input type="text" id="weight" name="weight" />
      </div>
      <div class="input-group">
        <label for="costPerMinute">KOSZT:</label>
        <input type="text" id="costPerMinute" name="costPerMinute" />
      </div>
      <div class="input-group">
        <label for="amount">ILOŚĆ:</label>
        <input type="text" id="amount" name="amount" />
      </div>
      <input type="submit" class="submitButton" value="Utwórz" />
    </form>

    <div class="reservations tile">
      <p class="form-title">Lista rezerwacji</p>

      <div class="searchOptions">
        <form id="searchForm">
          <label for="Id">ID:</label>
          <input type="text" id="Id" name="Id" [(ngModel)]="Id" required />
        </form>
        <div class="buttons">
          <button
            class="searchOptionButton active"
            id="userSearchButton"
            (click)="showUserRentals()">
            Szukaj użytkownika
          </button>
          <button
            class="searchOptionButton"
            id="scooterSearchButton"
            (click)="showVehicleRentals()">
            Szukaj hulajnogi
          </button>
        </div>
      </div>

      <div class="rentals-box" *ngIf="userVisible">
        <div class="rentals" *ngFor="let rental of userRentals">
          <div class="scooterId-box">
            <p>Hulajnoga {{ rental.scooterId }}</p>
          </div>
          <div class="date-box">
            <p>{{ rental.date }}</p>
          </div>
          <div class="duration-box">
            <p>{{ rental.duration }} minut</p>
          </div>
          <div class="price-box">
            <p>{{ rental.price }}zł</p>
          </div>
        </div>
      </div>
      <div class="rentals-box" *ngIf="vehicleVisible">
        <div class="rentals" *ngFor="let rental of vehicleRentals">
          <div class="scooterId-box">
            <p>Użytkownik {{ rental.userId }}</p>
          </div>
          <div class="date-box">
            <p>{{ rental.date }}</p>
          </div>
          <div class="duration-box">
            <p>{{ rental.duration }} minut</p>
          </div>
          <div class="price-box">
            <p>{{ rental.price }}zł</p>
          </div>
        </div>
      </div>
    </div>

    <div class="changeVehicleData tile">
      <p class="form-title">Lista hulajnóg</p>
      <div class="rentals" *ngFor="let vehicle of allVehicles">
        <div class="date-box">
          <p>Klasa {{ vehicle.type }}</p>
        </div>
        <div class="date-box">
          <p>Model {{ vehicle.model }}</p>
        </div>
        <div class="duration-box">
          <p>Długość {{ vehicle.length }} m</p>
        </div>
        <div class="duration-box">
          <p>Szerokość {{ vehicle.width }} m</p>
        </div>
        <div class="price-box">
          <p>{{ vehicle.weight }} kg</p>
        </div>
      </div>
    </div>
  </div>
</div>
