<div class="bg">
  <img src="assets/bg.jpg" />
  <div class="cards">
    <div class="card" *ngFor="let vehicleClass of vehicleClasses">
      <div class="card-front">
        <h2>Klasa {{ vehicleClass }}</h2>
      </div>
      <div class="card-back">
        <h2>Modele</h2>
        <ul>
          <li
            *ngFor="let vehicle of getFilteredVehicles(vehicleClass)"
            (mouseenter)="showDetails(vehicle)"
            (mouseleave)="hideDetails()">
            {{ vehicle.model }}
            <div class="details" *ngIf="selectedVehicle === vehicle">
              <p>Długość: {{ vehicle.length }}m</p>
              <p>Szerokość: {{ vehicle.width }}m</p>
              <p>Waga: {{ vehicle.weight }}kg</p>
              <p>Ilość: {{ vehicle.amount }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
