<div class="centerContainer">
    <form class="formBox" action="">
        <h3>Register</h3>

        <div class="horizontalBox">
            <div class="inputContainer">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" />
            </div>
            <div class="inputContainer">
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" />
            </div>
        </div>

        <label for="email">E-mail</label>
        <input type="email" name="email" />

        <label for="phone">Phone</label>
        <input type="phone" name="phone" />

        <label for="passwd">Password</label>
        <input type="password" name="passwd" />

        <label for="passwd">Repeat password</label>
        <input type="password" name="passwd" />

        <a href="/login">Try loggin in with the existing account!</a>

        <input type="submit" name="login" value="Submit" />
    </form>
</div>