<google-map
  height="100%"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="mapClick($event)">
  <map-marker
    *ngFor="let marker of markers; let i = index"
    [position]="{ lat: marker.latCords, lng: marker.lngCords }"
    [title]="marker.modelId"
    [options]="{
      draggable: false,
      animation:
        selectedMarker?.vehicleId === marker.vehicleId
          ? onSelectAnimation
          : null,
      icon:
        selectedMarker?.vehicleId === marker.vehicleId
          ? selectedIcon
          : normalIcon
    }"
    (mapClick)="selectMarker(i)">
  </map-marker>

  <map-marker
    *ngFor="let marker of rentedMarkers; let i = index"
    [position]="{ lat: marker.latCords, lng: marker.lngCords }"
    [title]="marker.vehicleId.toString()"
    [options]="{
      draggable: false,
      animation:
        selectedRentedMarker?.vehicleId === marker.vehicleId
          ? onSelectAnimation
          : null,
      icon: rentedIcon
    }"
    (mapClick)="selectRentedMarker(i)">
  </map-marker>
</google-map>
