<div class="bg">
  <img src="assets/bg.jpg" />
  <div class="content">
    <div class="tile tile-latest-rentals">
      <div class="text">
        <p>Ostatnie wypożyczenia</p>
      </div>
      <div class="rentals" *ngFor="let reservation of reservations">
        <div class="date-box">
          <p>{{ formatDate(reservation.r_end) }}</p>
        </div>
        <div class="duration-box">
          <p>{{ reservation.duration }}</p>
        </div>
        <div class="price-box">
          <p>{{ reservation.cost }}zł</p>
        </div>
      </div>
    </div>
    <div class="tile tile-welcome">
      <p *ngIf="selectedMarker === null">
        Cześć <b>{{ firstName }}</b
        >!
      </p>

      <div class="selected-vehicle" *ngIf="selectedMarker !== null">
        <div class="selected-vehicle-info">
          <p>ID: {{ selectedMarker.vehicleId }}</p>
          <p>Model: {{ selectedMarker.modelId }}</p>
          <p>Stan baterii: {{ selectedMarker.energyLevel }}</p>
        </div>

        <button (click)="makeReservation()">Zarezerwuj</button>
      </div>
    </div>
    <div class="tile tile-map">
      <div class="map">
        <google-map
          height="100%"
          width="100%"
          [zoom]="zoom"
          [center]="center"
          [options]="options">
          <map-marker
            *ngFor="let marker of markers; let i = index"
            [position]="{ lat: marker.latCords, lng: marker.lngCords }"
            [title]="marker.modelId"
            [options]="
              selectedMarker !== null &&
              marker.vehicleId === selectedMarker.vehicleId
                ? selectedMarkerOptions
                : markerOptions
            "
            [label]="marker.energyLevel.toString()"
            (mapClick)="selectMarker(i)">
          </map-marker>
        </google-map>
      </div>
    </div>

    <div class="tile tile-resume">
      <div class="content-1">
        <p class="text">Obecne koszta:</p>
        <p class="value">{{ stats?.totalCost || '-' }} zł</p>
      </div>
      <div class="content-2">
        <p class="text">Wypożyczyłeś aż</p>
        <p class="value">{{ stats?.noReservations || '-' }} hulajnóg!</p>
      </div>
    </div>
    <div class="tile tile-actual-rental">
      <p *ngIf="currentReservations.length === 0">
        Brak aktualnych wypożyczeń!
      </p>
      <div
        class="current-reservation"
        *ngFor="let reservation of currentReservations; let i = index">
        <p>{{ i + 1 }}</p>
        <p>{{ reservation.vehicleId }}</p>
        <p>Do: {{ reservation.r_end }}</p>
      </div>
    </div>
    <div class="socials">
      <a href=""><img class="icon" src="assets/facebook.png" /></a>
      <a href=""><img class="icon" src="assets/instagram.png" /></a>
      <a href=""><img class="icon" src="assets/twitter.png" /></a>
    </div>
  </div>
</div>
